/* 
    Created on : Aug 12, 2014, 4:15:25 PM
    Author     : David
*/

span[aaType=A-bi] {
    background-color: #00A35C;
}

span[aaType=R-bi] {
    background-color: #01FC03;
}

span[aaType=N-bi] {
    background-color: #01EB14;
}

span[aaType=D-bi] {
    background-color: #01EB14;
}

span[aaType=C-bi] {
    background-color: #0000FF;
}

span[aaType=E-bi] {
    background-color: #01F10E;
}

span[aaType=Q-bi] {
    background-color: #01F10E;
}

span[aaType=G-bi] {
    background-color: #009D62;
}

span[aaType=H-bi] {
    background-color: #00D52A;
}

span[aaType=I-bi] {
    background-color: #0054AB;
}

span[aaType=L-bi] {
    background-color: #007B84;
}

span[aaType=K-bi] {
    background-color: #01FF00;
}

span[aaType=M-bi] {
    background-color: #009768;
}

span[aaType=F-bi] {
    background-color: #008778;
}

span[aaType=P-bi] {
    background-color: #01E01F;
}

span[aaType=S-bi] {
    background-color: #00D52A;
}

span[aaType=T-bi] {
    background-color: #00DB24;
}

span[aaType=W-bi] {
    background-color: #00A857;
}

span[aaType=Y-bi] {
    background-color: #01E619;
}

span[aaType=V-bi] {
    background-color: #005FA0;
}