/* 
    Created on : Aug 12, 2014, 4:15:25 PM
    Author     : David
*/

div[aaType=A-c] {
    background-color: #80B3E6;
}

div[aaType=R-c] {
    background-color: #E6331A;
}

div[aaType=N-c] {
    background-color: #1ACC1A;
}

div[aaType=D-c] {
    background-color: #CC4DCC;
}

div[aaType=C-c] {
    background-color: #80B3E6;
}

div[aaType=E-c] {
    background-color: #CC4DCC;
}

div[aaType=Q-c] {
    background-color: #1ACC1A;
}

div[aaType=G-c] {
    background-color: #E6994D;
}

div[aaType=H-c] {
    background-color: #1AB3B3;
}

div[aaType=I-c] {
    background-color: #80B3E6;
}

div[aaType=L-c] {
    background-color: #80B3E6;
}

div[aaType=K-c] {
    background-color: #E6331A;
}

div[aaType=M-c] {
    background-color: #80B3E6;
}

div[aaType=F-c] {
    background-color: #80B3E6;
}

div[aaType=P-c] {
    background-color: #CCCC00;
}

div[aaType=S-c] {
    background-color: #1ACC1A;
}

div[aaType=T-c] {
    background-color: #1ACC1A;
}

div[aaType=W-c] {
    background-color: #80B3E6;
}

div[aaType=Y-c] {
    background-color: #1AB3B3;
}

div[aaType=V-c] {
    background-color: #80B3E6;
}