/* 
    Created on : Aug 12, 2014, 4:15:25 PM
    Author     : David
*/

span[aaType=A-sp] {
    background-color: #5858A7;
}

span[aaType=R-sp] {
    background-color: #6B6B94;
}

span[aaType=N-sp] {
    background-color: #64649B;
}

span[aaType=D-sp] {
    background-color: #2121DE;
}

span[aaType=C-sp] {
    background-color: #9D9D62;
}

span[aaType=E-sp] {
    background-color: #0000FF;
}

span[aaType=Q-sp] {
    background-color: #8C8C73;
}

span[aaType=G-sp] {
    background-color: #4949B6;
}

span[aaType=H-sp] {
    background-color: #60609F;
}

span[aaType=I-sp] {
    background-color: #ECEC13;
}

span[aaType=L-sp] {
    background-color: #B2B24D;
}

span[aaType=K-sp] {
    background-color: #4747B8;
}

span[aaType=M-sp] {
    background-color: #82827D;
}

span[aaType=F-sp] {
    background-color: #C2C23D;
}

span[aaType=P-sp] {
    background-color: #2323DC;
}

span[aaType=S-sp] {
    background-color: #4949B6;
}

span[aaType=T-sp] {
    background-color: #9D9D62;
}

span[aaType=W-sp] {
    background-color: #C0C03F;
}

span[aaType=Y-sp] {
    background-color: #D3D32C;
}

span[aaType=V-sp] {
    background-color: #FFFF00;
}