/* 
    Created on : Aug 12, 2014, 2:57:06 PM
    Author     : David Buzatto
*/

body {
    font-family: sans-serif;
    font-size: 14px;
}

#contentDiv {
    padding-top: 30px;
    padding-left: 30px;
}

#contentTable { 
    border-spacing: 0px;
    border-width: 0px;
    border-collapse: separate;
}

#contentTable td { 
    padding: 0px;
    border-width: 0px;
}

#waitMsg {
    font-size: 20px;
    font-weight: bold;
    color: #3399ff;
}

#controls {
    display: none;
}

#content {
    position: absolute;
    font-family: monospace;
    font-size: 14px;
}

.cryId {
    font-style: italic;
}

.spanAA {
    text-align: center;
    font-weight: bold;
    width: 11px;
    float: left;
}

.spanAlnSeq {
    text-align: center;
    font-weight: bold;
    width: 11px;
    float: left;
}

.spanRu {
    text-align: center;
    font-weight: bold;
    width: 11px;
    float: left;
}

.spanAAN {
    text-align: center;
    width: 11px;
    float: left;
    text-align: left;
    font-size: 10px;
    
}
